.page-header-wrapper{
	background-color: $secondary-base;

	.page-header-content{
		border-bottom-right-radius: 200px;
		background-color: $primary-base;
		overflow: hidden;

		&:after{
			@include media($tablet){
				background: url("../images/squares.svg") no-repeat;
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				right: 0px;
				width: 600px;
				height: 450px;
			}
		}
	}

	h1, p{
		color: $white-base;
	}

	.text-block{
		max-width: 800px;
	}

	.stats{
		background-color: $secondary-base;

		.stats-container{
			@include rem(padding, 40px 20px);

			li{
				// &:not(:first-child){
				@include rem(margin-top, 20px);
				@include rem(padding-right, 20px);
				// }

				@include media($tablet){
					@include span-columns(4 of 12);
					margin: 0px;
				}

				h2{
					color: $white-base;
					@include s-big;
				}

				p{
					opacity: 0.6;
				}
			}
		}
	}
}
